.git
.gitignore
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.local/
build/
dist/
wheels/
*.egg-info/
*.egg
*.log
download_temp/
extract_temp/
.DS_Store
.env.*
.env
Dockerfile
docker-compose.yml
node_modules/
npm-debug.log
*.env
stack.env